@import '../../../styles/base.scss';

.holy-grail {
  display: grid;
  grid-template-areas:
    'header'
    'left'
    'center'
    'right'
    'footer';
  grid-template-rows: repeat(5, minmax(15rem, 2fr));
  grid-template-columns: 1fr;

  @include bp-min(medium) {
    grid-template-areas:
      'header header header'
      'left center right'
      'footer footer footer';
    grid-template-rows:
      minmax(15vh, auto)
      minmax(70vh, auto)
      minmax(15vh, auto);
    grid-template-columns:
      minmax(10rem, 1fr)
      minmax(50vw, 80rem)
      minmax(10rem, 1fr);
  }
}

.holy-grail-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.holy-grail-item > p {
  margin: 0;
}

.holy-grail-item:nth-of-type(1) {
  grid-area: header;
  background-color: var(--layout-a);
}
.holy-grail-item:nth-of-type(2) {
  grid-area: left;
  background-color: var(--layout-b);
}
.holy-grail-item:nth-of-type(3) {
  grid-area: center;
  background-color: var(--layout-c);
}
.holy-grail-item:nth-of-type(4) {
  grid-area: right;
  background-color: var(--layout-d);
}
.holy-grail-item:nth-of-type(5) {
  grid-area: footer;
  background-color: var(--layout-e);
}
