@import '../../../styles/base.scss';

.contact {
  @include block(large);
  @include row(medium);
  display: flex;
}

.contact__inner {
  @include constrain(small);
  margin-left: auto;
}

.contact__item {
  margin: gap(2) 0;
}
