@import '../../../styles/base.scss';

.site-header__spacer {
  height: 7rem;
}

.site-header {
  @include block(full);
  z-index: z(site-nav);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: gap(4);
  padding-bottom: gap(4);
  @include bp-min($nav-switch) {
    color: currentColor;
  }
  @include bp-max($nav-switch) {
    pointer-events: none;
    display: flex;
    min-height: 100vh;
  }
}

// Mobile overlay
.site-header--is-expanded {
  @include bp-max($nav-switch) {
    pointer-events: initial;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// Blue overlay
.site-header::before {
  @include bp-max($nav-switch) {
    content: '';
    z-index: z(site-nav-overlay);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $secondary-color-lighter;
    color: $white;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform $pace-slow;
  }
}

// When active animate blue overlay
.site-header--is-expanded::before {
  transform: scaleY(1);
}

.site-header__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  @include bp-min($nav-switch) {
    align-items: center;
    justify-content: flex-start;
  }
}
.site-header--is-expanded .site-header__inner {
  align-items: stretch;
}

@keyframes navigation-in {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-header__nav-container {
  @include bp-min($nav-switch) {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    transition: opacity 0.2s 0.15s;
  }
  @include bp-max($nav-switch) {
    @include row-bottom(medium);
    opacity: 0;
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-right: gap(5);
    padding-left: gap(5);
    transform: translateY(-1em);
    transform-origin: 50% 0;
    overscroll-behavior: contain;
  }
}
.site-header--is-expanded .site-header__nav-container {
  @include bp-max($nav-switch) {
    animation: navigation-in $pace-slow $pace-quick forwards;
  }
}
.site-header__nav--primary {
  @include bp-min($nav-switch) {
    margin-right: auto;
  }
}

.site-header__logo {
  opacity: 1;
  pointer-events: initial;
  max-width: 3.5rem;
  margin-right: auto;
  transition: opacity $pace-slow;
  @include bp-min($nav-switch) {
    margin-right: gap(3);
  }
  @include bp-min(large) {
    margin-right: gap(5);
  }
}
.site-header--is-expanded .site-header__logo {
  @include bp-max($nav-switch) {
    opacity: 0;
    transition-duration: $pace-quick;
  }
}

/**
 * Nav Toggle
 */
.site-header__nav-toggle {
  @include bare-button;
  pointer-events: initial;
  margin-top: gap(5);
  margin-bottom: auto;
  margin-left: auto;
  color: currentColor;
  @include bp-min($nav-switch) {
    display: none;
  }
}
