@import '../../../styles/base.scss';

.wrapping-link {
  text-decoration: none;
}

.preview {
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  width: 100%;
}

.caption {
  @include text-small;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: gap(1);
  padding: 0 gap(3);

  @include bp-min(tiny) {
    padding: 0;
  }
}
.caption-title {
  grid-column: 1 / -1;
}

.type {
  @include text-small;
  padding-left: gap(2);
}

.sold {
  @include text-small;
}

.buy-button {
  @include bare-button;
  @include text-small;
  padding: gap(2) gap(4);
  line-height: 1;
  border: 1px solid $black;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.wrapping-link:hover .buy-button,
.wrapping-link:focus .buy-button {
  background-color: $black;
  color: $white;
}
