// Brand colors
$primary-color-lighter: #fb8e5d;
$primary-color: #ff6527;
$primary-color-darker: #da4e24;

$secondary-color-lighter: #185a79;
$secondary-color: #143253;
$secondary-color-darker: #0d2846;

$tertiary-color: #cdbd6a;

$text: #0d2846;

// Base colors
$white: #ffffff;
$whiteish: #efeadf;
$black: #0d0d0d;
$blackish: #171717;
