// Base colors
$white: #ffffff;
$grey-lightest: #f2f2f2;
$grey-lighter: #dbdbdb;
$grey-light: #b8b8b8;
$gray: #8b8d8d;
$grey: #8b8d8d;
$grey-dark: #696969;
$grey-darker: #3f3f3f;
$black: #0d0d0d;
$blackish: #171717;

// Brand colors
$primary-color: hsla(161, 41%, 75%, 1);

// Utility colors
$red: red;
