/* stylelint-disable value-keyword-case */
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$sans-serif: $system-font;
$serif: 'Amiri', 'IBM Plex Sans', Georgia, 'Times New Roman', serif;

$light: 300;
$normal: 400;
$regular: 500;

@mixin numeric-font {
  font-family: $system-font;
}
@mixin regular-font {
  font-family: $sans-serif;
}
@mixin serif-font {
  font-family: $serif;
  font-style: italic;
}

/**
 * Body
 */
@mixin text-medium {
  @include regular-font;
  font-weight: $regular;
  font-size: rem(18);
  line-height: 1.5;

  @include bp-min(medium) {
    font-size: rem(20);
    line-height: 1.55;
  }
}
@mixin text-small {
  @include regular-font;
  font-weight: $regular;
  font-size: rem(14);
  line-height: 1.5;

  @include bp-min(medium) {
    font-size: rem(16);
  }
}

/**
 * Heading
 */
@mixin heading-large {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: $regular;
  font-size: rem(40);
  line-height: 1.2;

  @include bp-min(medium) {
    font-size: rem(60);
  }
}
@mixin heading-medium {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: $regular;
  font-size: rem(30);
  line-height: 1.3;

  @include bp-min(medium) {
    font-size: rem(40);
  }
}
@mixin heading-small {
  @include serif-font;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: $regular;
  font-size: rem(24);
  line-height: 1.2;

  @include bp-min(medium) {
    font-size: rem(27);
  }
}
