@import '../../../styles/base.scss';

.text {
  @include block(medium);
  @include row(medium);
}
.text__inner {
  @include constrain(small-medium);
  margin-left: auto;
}

.title {
  @include heading-large;
  margin: 0;
}

.content {
  margin-top: gap(9);
}

.title + .content {
  margin-top: gap(2);
}

.content ul {
  margin-top: 0;
}
